PORT=3000
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=8h
ALLOWED_EMAIL_DOMAINS=polban.ac.id,bekaert.com
HARDWARE_API_KEY=bekaert_pzem004t_ingest_key_8923
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# Konfigurasi Database MySQL (XAMPP)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=iot_maintenance_dwd
DB_USER=root
DB_PASSWORD=
